include AUTHORS BUGS ChangeLog ChangeLog.old COPYING COPYING.LIB README TODO
include generate_potfiles_in.sh run_tests.py setup.cfg setup.py
include MANIFEST.in update-manager update-manager-text
include doc/_static doc/_templates
recursive-include data/ *.in *.ui Makefile *.8 *.png *.svg bug_script/*
recursive-include help/ *.xml *.am *.omf figures/*
recursive-include po/ *.po *.pot *.in *.skip Makefile ChangeLog
recursive-include tests/ *.py
recursive-include doc/ *.rst *.py _static/* _templates/* Makefile
prune doc/build/*