Package: update-manager-gnome
Source: update-manager
Version: 0.200.7-1canaima4
Architecture: all
Maintainer: Equipo de Desarrollo de Canaima GNU/Linux <desarrolladores@canaima.softwarelibre.gob.ve>
Installed-Size: 1396
Depends: python, python-support (>= 0.90.0), gconf2 (>= 2.28.1-2), update-manager-core (= 0.200.7-1canaima4), python-gconf, python-dbus, python-gtk2, gksu, python-gobject (>= 2.16.1), python-vte
Suggests: update-notifier, software-properties-gtk
Conflicts: update-manager (<< 0.200.0~pre0)
Replaces: update-manager (<< 0.200.0~pre0)
Section: gnome
Priority: optional
Homepage: http://canaima.softwarelibre.gob.ve/
Description: Gestor de Actualizaciones para Canaima GNU/Linux
 This is the GNOME software update manager. It checks for updates made
 available by Debian and third parties running Debian package
 repositories, and lets the user choose which to install.
